.right-container {
  height: 100%;
  flex: 1;
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & * {
      font-size: 12px !important;
    }
  }
  .header-container {
    background-color: #fff;
    height: 40%;
    padding: 0 16px 16px 16px;
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .content-container {
    position: relative;
    background-color: #fff;
    flex: 1;
    padding: 0 16px 16px 16px;
    border-radius: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &.full-screen {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 999;
    }
  }
  .ant-switch.ant-switch-checked {
    height: 24px;
  }
  .ant-tabs-card .ant-tabs-content {
    height: 100%;
    overflow: hidden;
  }
  //   button {
  //     margin: 0 8px;
  //   }
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}
.full-screen-btn {
  margin-right: 8px;
}
.CodeMirror {
  height: 100px !important;
  flex: 1 !important;
}
.current-url {
  margin-right: 60px;
  color: #999;
  font-size: 16px;
}
