.left-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #041527;
  padding: 20px 0 0 0;
  overflow: hidden;
  input {
    padding-left: 8px !important;
    width: calc(100% - 30px);
    margin-left: 15px;
  }
}
.input-filter {
  position: sticky;
  top: 0;
}
.logo {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 30px;
  color: #fff;
  .setting,
  .add,
  .clear-all {
    width: 20px;
    opacity: 0.7;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
.menu {
  flex: 1;
  overflow: scroll;
}
.footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  .github-img {
    width: 20px;
    margin-right: 3px;
  }
  .logo-img {
    width: 100px;
    opacity: 0.5;
  }
  a {
    color: #ccc;
    font-size: 14px;
  }
}
.link {
  color: #97cd74;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: currentColor;
    margin-right: 5px;
    border-radius: 50%;
  }
}
.no-link {
  color: pink;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: currentColor;
    margin-right: 5px;
    border-radius: 50%;
  }
}
.wrap {
  height: 15px;
  position: sticky;
  top: 0;
  color: #fff;
}
.menu-container {
  display: flex;
  flex-direction: column;
  height: 40px !important;
  line-height: 18px;
  justify-content: center;
  &:hover {
    & > span:first-child {
      color: #fff;
    }
  }

  & > span:first-child {
    font-size: 14px;
    color: #bbb;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  & > span:last-child {
    color: #bbb;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
}
.ant-menu-item-selected {
  .menu-container {
    & > span:first-child {
      color: #fff;
    }
  }
}
.menu-sub {
  position: relative;
  width: 230px;
  .method {
    position: absolute;
    right: 0;
    transform: translateX(20px) scale(0.78);
    font-weight: bold;
    font-size: 12px;
  }
}
.ant-menu-item-only-child {
  margin-left: -13px !important;
  width: 120% !important;
}
.wrap-16 {
  height: 16px;
}
